:root{
    --font-family-Titulo: 'Lilita One', sans-serif;
    --font-family-corpo:  'Roboto', sans-serif;
    --cor_de_fundo: #FFBE56;
    --cor-primaria: #FFFFFF;
    --cor-secundária:#FF0099;
}

body{
    background-color: var(--cor_de_fundo);
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-corpo);
}

h1{
    font-size: 4em;
    font-family: var(--font-family-Titulo);
    color: var(--cor-secundária);

}
h3{
    font-size: 2em;
    margin-top: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 20px;
}

.box{
    border: 2px  solid var(--cor_de_fundo);
    display: inline-block;
    font-size: 3em;
    background-color: var(--cor-secundária);
    font-family: var(--font-family-Titulo);
    color: var(--cor_de_fundo);
    padding: 20px;
    border-radius: 40px 40px 10px 40px;

}