:root{
    --font-family-Titulo: font-family: 'Lilita One', sans-serif;
    --font-family-corpo: font-family: 'Roboto', sans-serif;
    --cor_de_fundo: #FF0099;
    --cor-primaria: #FFFFFF;
    --cor-secundária:#FFBE56;
}

body{
    background-color: var(--cor_de_fundo);
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(font-family-corpo);
}
